libgestures.conf
make_wp.py
set_display.sh
pipe-workspaces

_tmp
__pycache__

xpm/*
!xpm/cpu.xpm
!xpm/ram.xpm
!xpm/upload.xpm
!xpm/upload2.xpm
!xpm/download.xpm
!xpm/download2.xpm

*.o
*.hi
*.errors
xmonad-x86_64-linux
